include ../mixins/flash-messages

doctype html
html
	head
		if env === 'production'
			script.
				var _sf_startpt=(new Date()).getTime()
		
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title= title 
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700', rel='stylesheet')
		link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
		
		if user && user.canAccessKeystone
				link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		
		link(href="/styles/font-awesome/css/font-awesome.min.css", rel="stylesheet")
		link(href="/styles/common.css", rel="stylesheet")
		block css
		block head
	body
		//- serialize all these data for react to handle dynamic rendering 
		- langData = JSON.stringify(lang)
		- apiData = JSON.stringify(apiData)
		- modules = JSON.stringify(modules)
		- userData = user ? JSON.stringify(user) : '{}'
		- i18nCatalog = JSON.stringify(i18nCatalog)
		- i18nLocale = JSON.stringify(i18nLocale)
		div#app(style="min-height: 800px" lang=langData, data-model=apiData, user-model=userData, modules=modules, i18nCatalog=i18nCatalog, i18nLocale = i18nLocale)
		block content
		block script
		
		div(style="padding-right: 24px; min-height: 200px; box-sizing: border-box; text-align: center; background-color: rgb(33, 33, 33);")
					@Copyright 2016 Ken
