.centered-divider-text {
    background-color: #fff;
    display: inline-block;
    padding: 0 1em;
    position: relative;
    z-index: 1;
}

.centered-divider {
    color: #777;
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
    text-align: center;
    font-size: 1em;
}

.centered-divider:after {
    width: 100%;
    height: 1px;
    background-color: #C9C9C9;
    content: "";
    left: 0;
    top: 50%;
    position: absolute;
}
